/* New Idea
 1.for moving card side => margin:-150px;
 2.focus => outline.
*/


*{
    margin: 0px;
    padding:0px;
}

.container{
    background-image: url("https://wallpapercave.com/wp/wp2940007.png");
    background-size: cover;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    background:#fff;
    display:flex;
    padding:10px 0px;
    border-radius: 8px;
    box-shadow:0px 0px 10px yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    width:700px;
}

.login-img img{
    width:500px;
    height:500px;
}

.login-details-card{
    width:300px;
    
    box-shadow:0px 0px 10px rgb(5, 139, 7);
    padding:20px 15px;
    margin-right: -150px;
    background:#fff;
    border-radius: 8px;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.login-details-span{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.login-details-span label{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
}

.login-details-span input{
    margin-right: 2px;
    width: 250px;
    height: 30px;
    padding-left:5px
}
.login-conditions{
    margin-bottom: 20px;
}

button{
    background: rgb(174, 34, 34);
    color: #fff;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition:.8s;
}

button:hover{
    transform: scale(0.5);
}

.login-details-span input:focus{
    outline: 2px solid green;
    
}